# SERVER
NODE_ENV=
HOST=
PORT=

# DATABASE
MONGO_URI=

# BCRYPT
SALT_ROUNDS=

# EMAIL
EMAIL_USER=
EMAIL_PASS=

#JWT
JWT_SECRET_LOGIN=
JWT_SECRET_OTP=
JWT_SECRET_REFRESH=
JWT_EXPIRESIN_OTP=
JWT_EXPIRESIN_LOGIN=
JWT_EXPIRESIN_REFRESH=

#REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

#CLOUDINARY
CLOUD_NAME=
API_KEY=
API_SECRET=
